html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: roboto, sans-serif;
}
body {
  background-color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin: 10rem;
}
.container {
  height: 18rem;
  width: 60rem;
  background: linear-gradient(to right, #e65f5f, #f52424);
  box-shadow: 0 9px 29px 5px rgba(0, 0, 0, 0.383);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3.2rem;
  position: relative;
  overflow: hidden;
}
.container::after {
  content: "";
  width: 0;
  height: 0;
  /* padding-bottom: 0; */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid #f8babe;
  position: absolute;
  left: 0rem;
  bottom: 0;
}
.container::before {
  content: "";
  width: 0;
  height: 0;
  /* padding-bottom: 0; */
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 150px solid #f1757d;
  position: absolute;
  left: 50px;
  bottom: 0;
  z-index: 10;
}
.desc {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
}

.date {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 0;
  font-weight: 100;
}
.heading {
  display: inline-block;
  margin-bottom: 1.2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.description {
  margin: 0 13rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
}
.btn:visited,
.btn:link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #fff;
  color: #f52424;
  border-radius: 3px;
  padding: 1rem 4.8rem;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: all 0.2s ease;
  font-weight: 500;
  box-shadow: 0 9px 29px 5px rgba(0, 0, 0, 0.383);
}
.btn:hover {
  transform: scale(1.1);
  background-color: #f52424;
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}
.container-1 {
  height: 18rem;
  width: 60rem;
  background: linear-gradient(to right, #e65f5f, #f52424);
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.155);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem 3.2rem;
  position: relative;
  overflow: hidden;
}
.container-1::after {
  content: "";
  width: 0;
  height: 0;
  /* padding-bottom: 0; */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid #f8babe;
  position: absolute;
  left: 0rem;
  bottom: 0;
}
.container-1::before {
  content: "";
  width: 0;
  height: 0;
  /* padding-bottom: 0; */
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 150px solid #f1757d;
  position: absolute;
  left: 35px;
  bottom: 0;
  z-index: 10;
}
.desc-1 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: start;
  margin-left: 6.4rem;
  /* text-align: center; */
}
.description-1 {
  /* margin: 0 13rem; */
  text-align: start;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
}
.btn-1:visited,
.btn-1:link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: #f52424;
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 3px;
  padding: 1rem 3.2rem;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: all 0.2s ease;
  font-weight: 500;
  position: absolute;
  right: 5rem;
  top: 2rem;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.155);
}
.btn-1:hover,
btn-1:active {
  transform: scale(1.1);
}
